.editor{

}

.editor .show{
    display:block;
}

.editor .hidden{
    display:none;
}

.editor textarea{
    resize: none;
    outline: none;
    border: none; 

    width: 95%;
    padding: 10px;
    
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.25);
}

.editor button[type="submit"] {
    background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.editor button[type="submit"]:hover {
	background-color:#5cbf2a;
}

.editor a[type="button"]{
    width: 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.editor a[type="button"]:hover{
    color: #4d4d4d;
    
}
